input {
    text-align: left;
    text-wrap: wrap;
    
}

input#content{
    width: 100vh;
    height: 50vh;
}

header {
    display: flex;
    flex-wrap: wrap;
}

header h1 {
    flex: auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}